<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="icon" th:href="@{/public/favicon.ico}" type="image/x-icon"/>
<link rel="bookmark" th:href="@{/public/favicon.ico}" type="image/x-icon"/>
  <head>
    <title>ok1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/files/ok1/styles.css" type="text/css" rel="stylesheet"/>
    <script src="/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="/resources/scripts/axure/axQuery.js"></script>
    <script src="/resources/scripts/axure/globals.js"></script>
    <script src="/resources/scripts/axutils.js"></script>
    <script src="/resources/scripts/axure/annotation.js"></script>
    <script src="/resources/scripts/axure/axQuery.std.js"></script>
    <script src="/resources/scripts/axure/doc.js"></script>
    <script src="/resources/scripts/messagecenter.js"></script>
    <script src="/resources/scripts/axure/events.js"></script>
    <script src="/resources/scripts/axure/recording.js"></script>
    <script src="/resources/scripts/axure/action.js"></script>
    <script src="/resources/scripts/axure/expr.js"></script>
    <script src="/resources/scripts/axure/geometry.js"></script>
    <script src="/resources/scripts/axure/flyout.js"></script>
    <script src="/resources/scripts/axure/model.js"></script>
    <script src="/resources/scripts/axure/repeater.js"></script>
    <script src="/resources/scripts/axure/sto.js"></script>
    <script src="/resources/scripts/axure/utils.temp.js"></script>
    <script src="/resources/scripts/axure/variables.js"></script>
    <script src="/resources/scripts/axure/drag.js"></script>
    <script src="/resources/scripts/axure/move.js"></script>
    <script src="/resources/scripts/axure/visibility.js"></script>
    <script src="/resources/scripts/axure/style.js"></script>
    <script src="/resources/scripts/axure/adaptive.js"></script>
    <script src="/resources/scripts/axure/tree.js"></script>
    <script src="/resources/scripts/axure/init.temp.js"></script>
    <script src="/resources/scripts/axure/legacy.js"></script>
    <script src="/resources/scripts/axure/viewer.js"></script>
    <script src="/resources/scripts/axure/math.js"></script>
    <script src="/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="/data/document.js"></script>
    <script src="/files/ok1/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (menu1) -->

      <!-- Unnamed (矩形) -->
      <div id="u1746" class="ax_default box_3">
        <div id="u1746_div" class=""></div>
        <div id="u1746_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (菜单) -->
      <div id="u1747" class="ax_default">
        <img id="u1747_menu" class="img " src="/images/custnotexist1/u1399_menu.png" alt="u1747_menu"/>

        <!-- Unnamed (表格) -->
        <div id="u1748" class="ax_default">

          <!-- Unnamed (菜单项) -->
          <div id="u1749" class="ax_default menu_item">
            <img id="u1749_img" class="img " src="/images/custnotexist1/u1401.png"/>
            <div id="u1749_text" class="text ">
              <p><span><a th:href="@{/admin}">首页</a></span></p>
            </div>
          </div>

          <!-- Unnamed (菜单项) -->
          <div id="u1750" class="ax_default menu_item">
            <img id="u1750_img" class="img " src="/images/custnotexist1/u1401.png"/>
            <div id="u1750_text" class="text ">
              <p><span><a th:href="@{/addCust}">添加客户</a></span></p>
            </div>
          </div>

          <!-- Unnamed (菜单项) -->
          <div id="u1751" class="ax_default menu_item">
            <img id="u1751_img" class="img " src="/images/custnotexist1/u1401.png"/>
            <div id="u1751_text" class="text ">
              <p><span>销售管理</span></p>
            </div>
          </div>

          <!-- Unnamed (菜单项) -->
          <div id="u1752" class="ax_default menu_item">
            <img id="u1752_img" class="img " src="/images/custnotexist1/u1401.png"/>
            <div id="u1752_text" class="text ">
              <p><span>库房管理</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (菜单) -->
        <div id="u1753" class="ax_default sub_menu">
          <img id="u1753_menu" class="img " src="/images/custnotexist1/u1405_menu.png" alt="u1753_menu"/>

          <!-- Unnamed (表格) -->
          <div id="u1754" class="ax_default">

            <!-- Unnamed (菜单项) -->
            <div id="u1755" class="ax_default menu_item">
              <img id="u1755_img" class="img " src="/images/addcust/u37.png"/>
              <div id="u1755_text" class="text ">
                <p><span><a th:href="@{/addSale1}">销售登记</a></span></p>
              </div>
            </div>

            <!-- Unnamed (菜单项) -->
            <div id="u1756" class="ax_default menu_item">
              <img id="u1756_img" class="img " src="/images/custnotexist1/u1408.png"/>
              <div id="u1756_text" class="text ">
                <p><span><a th:href="@{/sale/findSaleAll}">销售列表</a></span></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (菜单) -->
        <div id="u1757" class="ax_default sub_menu">
          <img id="u1757_menu" class="img " src="/images/addcust/u48_menu.png" alt="u1757_menu"/>

          <!-- Unnamed (表格) -->
          <div id="u1758" class="ax_default">

            <!-- Unnamed (菜单项) -->
            <div id="u1759" class="ax_default menu_item">
              <img id="u1759_img" class="img " src="/images/addcust/u37.png"/>
              <div id="u1759_text" class="text ">
                <p><span><a th:href="@{/stock/listStock}">库存列表</a></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1760" class="ax_default label">
        <div id="u1760_div" class=""></div>
        <div id="u1760_text" class="text ">
          <p><span th:text="欢迎 "></span>
            <span th:text="${#httpSession.getAttribute('usernamename')}"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1761" class="ax_default link_button">
        <div id="u1761_div" class=""></div>
        <div id="u1761_text" class="text ">
          <p><span>注销</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1762" class="ax_default label">
        <div id="u1762_div" class=""></div>
        <div id="u1762_text" class="text ">
          <p><span>订单管理系统</span></p>
        </div>
      </div>
      <div id="u1745" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (矩形) -->
      <div id="u1763" class="ax_default label">
        <div id="u1763_div" class=""></div>
        <div id="u1763_text" class="text ">
          <p><span>哦耶~操作成功了！</span></p><p><span>淡定...不要飘......</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
