<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="icon" th:href="@{/public/favicon.ico}" type="image/x-icon"/>
<link rel="bookmark" th:href="@{/public/favicon.ico}" type="image/x-icon"/>
  <head>
    <title>updatePurchaseInfo2</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/files/updatepurchaseinfo2/styles.css" type="text/css" rel="stylesheet"/>
    <script src="/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="/resources/scripts/axure/axQuery.js"></script>
    <script src="/resources/scripts/axure/globals.js"></script>
    <script src="/resources/scripts/axutils.js"></script>
    <script src="/resources/scripts/axure/annotation.js"></script>
    <script src="/resources/scripts/axure/axQuery.std.js"></script>
    <script src="/resources/scripts/axure/doc.js"></script>
    <script src="/resources/scripts/messagecenter.js"></script>
    <script src="/resources/scripts/axure/events.js"></script>
    <script src="/resources/scripts/axure/recording.js"></script>
    <script src="/resources/scripts/axure/action.js"></script>
    <script src="/resources/scripts/axure/expr.js"></script>
    <script src="/resources/scripts/axure/geometry.js"></script>
    <script src="/resources/scripts/axure/flyout.js"></script>
    <script src="/resources/scripts/axure/model.js"></script>
    <script src="/resources/scripts/axure/repeater.js"></script>
    <script src="/resources/scripts/axure/sto.js"></script>
    <script src="/resources/scripts/axure/utils.temp.js"></script>
    <script src="/resources/scripts/axure/variables.js"></script>
    <script src="/resources/scripts/axure/drag.js"></script>
    <script src="/resources/scripts/axure/move.js"></script>
    <script src="/resources/scripts/axure/visibility.js"></script>
    <script src="/resources/scripts/axure/style.js"></script>
    <script src="/resources/scripts/axure/adaptive.js"></script>
    <script src="/resources/scripts/axure/tree.js"></script>
    <script src="/resources/scripts/axure/init.temp.js"></script>
    <script src="/resources/scripts/axure/legacy.js"></script>
    <script src="/resources/scripts/axure/viewer.js"></script>
    <script src="/resources/scripts/axure/math.js"></script>
    <script src="/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="/data/document.js"></script>
    <script src="/files/updatepurchaseinfo2/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return '/resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return '/resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return '/resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u708" class="ax_default box_1">
        <div id="u708_div" class=""></div>
        <div id="u708_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- form (组合) -->
      <div id="u709" class="ax_default" data-label="form" data-left="534" data-top="97" data-width="300" data-height="369">

        <!-- form (组合) -->
        <div id="u710" class="ax_default" data-label="form" data-left="534" data-top="97" data-width="300" data-height="369">

          <!-- Unnamed (矩形) -->
          <div id="u711" class="ax_default box_1">
            <div id="u711_div" class=""></div>
            <div id="u711_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
          <form th:action="@{/purchase/updatePurchaseInfo}" method="post">
          <!-- Unnamed (矩形) -->
          <div id="u712" class="ax_default label">
            <div id="u712_div" class=""></div>
            <div id="u712_text" class="text ">
              <p><span>订单ID：</span></p>
            </div>
          </div>

          <!-- pid (文本框) -->
          <div id="u713" class="ax_default text_field" data-label="pid">
            <div id="u713_div" class=""></div>
            <input id="u713_input" type="text" name="pid" th:value="${purchase.getPid()}" class="u713_input" readonly/>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u714" class="ax_default label">
            <div id="u714_div" class=""></div>
            <div id="u714_text" class="text ">
              <p><span>采购员ID：</span></p>
            </div>
          </div>

          <!-- uid (文本框) -->
          <div id="u715" class="ax_default text_field" data-label="uid">
            <div id="u715_div" class=""></div>
            <input id="u715_input" type="text" name="uid" th:value="${purchase.getUid()}" class="u715_input" readonly/>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u716" class="ax_default label">
            <div id="u716_div" class=""></div>
            <div id="u716_text" class="text ">
              <p><span>客户ID：</span></p>
            </div>
          </div>

          <!-- cid (文本框) -->
          <div id="u717" class="ax_default text_field" data-label="cid">
            <div id="u717_div" class=""></div>
            <input id="u717_input" type="text" name="cid" th:value="${purchase.getCid()}" class="u717_input" readonly/>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u718" class="ax_default label">
            <div id="u718_div" class=""></div>
            <div id="u718_text" class="text ">
              <p><span>药品ID：</span></p>
            </div>
          </div>

          <!-- mid (文本框) -->
          <div id="u719" class="ax_default text_field" data-label="mid">
            <div id="u719_div" class=""></div>
            <input id="u719_input" type="text" name="mid" th:value="${purchase.getMid()}" class="u719_input" readonly/>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u720" class="ax_default label">
            <div id="u720_div" class=""></div>
            <div id="u720_text" class="text ">
              <p><span>采购数量：</span></p>
            </div>
          </div>

          <!-- pnum (文本框) -->
          <div id="u721" class="ax_default text_field" data-label="pnum">
            <div id="u721_div" class=""></div>
            <input id="u721_input" type="number" name="pnum" th:value="${purchase.getPnum()}" class="u721_input"/>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u722" class="ax_default label">
            <div id="u722_div" class=""></div>
            <div id="u722_text" class="text ">
              <p><span>采购单价：</span></p>
            </div>
          </div>

          <!-- pprice (文本框) -->
          <div id="u723" class="ax_default text_field" data-label="pprice">
            <div id="u723_div" class=""></div>
            <input id="u723_input" type="number" name="pprice" th:value="${purchase.getPprice()}" class="u723_input"/>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u724" class="ax_default label">
            <div id="u724_div" class=""></div>
            <div id="u724_text" class="text ">
              <p><span>订单日期：</span></p>
            </div>
          </div>

          <!-- pdate (文本框) -->
          <div id="u725" class="ax_default text_field" data-label="pdate">
            <div id="u725_div" class=""></div>
            <input id="u725_input" type="text" name="pdate" th:value="${purchase.getPdate()}" class="u725_input"/>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u726" class="ax_default label">
            <div id="u726_div" class=""></div>
            <div id="u726_text" class="text ">
              <p><span>订单金额：</span></p>
            </div>
          </div>

          <!-- pamount (文本框) -->
          <div id="u727" class="ax_default text_field" data-label="pamount">
            <div id="u727_div" class=""></div>
            <input id="u727_input" type="number" name="pamount" th:value="${purchase.getPamount()}" class="u727_input"/>
          </div>

          <!-- updatePurchase_btn (矩形) -->
          <div id="u728" class="ax_default primary_button" data-label="updatePurchase_btn">
            <div id="u728_div" class=""></div>
            <div id="u728_text" class="text ">
              <p><span><input type="submit" value="确认修改"/></span></p>
            </div>
          </div>
          </form>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u729" class="ax_default label">
          <div id="u729_div" class=""></div>
          <div id="u729_text" class="text ">
            <p><span>*</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u730" class="ax_default label">
          <div id="u730_div" class=""></div>
          <div id="u730_text" class="text ">
            <p><span>*</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u731" class="ax_default label">
          <div id="u731_div" class=""></div>
          <div id="u731_text" class="text ">
            <p><span>*</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u732" class="ax_default label">
          <div id="u732_div" class=""></div>
          <div id="u732_text" class="text ">
            <p><span>*</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u733" class="ax_default label">
          <div id="u733_div" class=""></div>
          <div id="u733_text" class="text ">
            <p><span>*</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u734" class="ax_default label">
          <div id="u734_div" class=""></div>
          <div id="u734_text" class="text ">
            <p><span>*</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u735" class="ax_default label">
          <div id="u735_div" class=""></div>
          <div id="u735_text" class="text ">
            <p><span>*</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u736" class="ax_default label">
          <div id="u736_div" class=""></div>
          <div id="u736_text" class="text ">
            <p><span>*</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u737" class="ax_default label">
        <div id="u737_div" class=""></div>
        <div id="u737_text" class="text ">
          <p><span>当前位置：修改采购订单信息</span></p>
        </div>
      </div>

      <!-- purchaser_menu (menu2) -->

      <!-- Unnamed (矩形) -->
      <div id="u739" class="ax_default box_3">
        <div id="u739_div" class=""></div>
        <div id="u739_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (菜单) -->
      <div id="u740" class="ax_default">
        <img id="u740_menu" class="img " src="/images/addcust2/u649_menu.png" alt="u740_menu"/>

        <!-- Unnamed (表格) -->
        <div id="u741" class="ax_default">

          <!-- Unnamed (菜单项) -->
          <div id="u742" class="ax_default menu_item">
            <img id="u742_img" class="img " src="/images/addcust/u28.png"/>
            <div id="u742_text" class="text ">
              <p><span><a th:href="@{/adminpurchaser}">首页</a></span></p>
            </div>
          </div>

          <!-- Unnamed (菜单项) -->
          <div id="u743" class="ax_default menu_item">
            <img id="u743_img" class="img " src="/images/addcust/u28.png"/>
            <div id="u743_text" class="text ">
              <p><span><a th:href="@{/addCust2}">添加客户</a></span></p>
            </div>
          </div>

          <!-- Unnamed (菜单项) -->
          <div id="u744" class="ax_default menu_item">
            <img id="u744_img" class="img " src="/images/addcust/u28.png"/>
            <div id="u744_text" class="text ">
              <p><span><a th:href="@{/addNewMedicine2}">添加药品</a></span></p>
            </div>
          </div>

          <!-- Unnamed (菜单项) -->
          <div id="u745" class="ax_default menu_item">
            <img id="u745_img" class="img " src="/images/addcust/u28.png"/>
            <div id="u745_text" class="text ">
              <p><span>进货管理</span></p>
            </div>
          </div>

          <!-- Unnamed (菜单项) -->
          <div id="u746" class="ax_default menu_item">
            <img id="u746_img" class="img " src="/images/addcust2/u655.png"/>
            <div id="u746_text" class="text ">
              <p><span>库房管理</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (菜单) -->
        <div id="u747" class="ax_default sub_menu">
          <img id="u747_menu" class="img " src="/images/addcust/u35_menu.png" alt="u747_menu"/>

          <!-- Unnamed (表格) -->
          <div id="u748" class="ax_default">

            <!-- Unnamed (菜单项) -->
            <div id="u749" class="ax_default menu_item">
              <img id="u749_img" class="img " src="/images/addcust/u37.png"/>
              <div id="u749_text" class="text ">
                <p><span><a th:href="@{/addPurchase2}">采购登记</a></span></p>
              </div>
            </div>

            <!-- Unnamed (菜单项) -->
            <div id="u750" class="ax_default menu_item">
              <img id="u750_img" class="img " src="/images/addcust/u37.png"/>
              <div id="u750_text" class="text ">
                <p><span><a th:href="@{/purchase/findAllPurchase}">采购订单列表</a></span></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (菜单) -->
        <div id="u751" class="ax_default sub_menu">
          <img id="u751_menu" class="img " src="/images/addcust/u48_menu.png" alt="u751_menu"/>

          <!-- Unnamed (表格) -->
          <div id="u752" class="ax_default">

            <!-- Unnamed (菜单项) -->
            <div id="u753" class="ax_default menu_item">
              <img id="u753_img" class="img " src="/images/addcust/u37.png"/>
              <div id="u753_text" class="text ">
                <p><span><a th:href="@{/stock/listStock}">库存列表</a></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u754" class="ax_default label">
        <div id="u754_div" class=""></div>
        <div id="u754_text" class="text ">
          <p><span th:text="欢迎 "></span>
            <span th:text="${#httpSession.getAttribute('usernamename')}"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u755" class="ax_default link_button">
        <div id="u755_div" class=""></div>
        <div id="u755_text" class="text ">
          <p><span><a th:href="@{/login}">注销</a></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u756" class="ax_default label">
        <div id="u756_div" class=""></div>
        <div id="u756_text" class="text ">
          <p><span>订单管理系统</span></p>
        </div>
      </div>
      <div id="u738" style="display:none; visibility:hidden;"></div>
    </div>
    <script src="/resources/scripts/axure/ios.js"></script>
  </body>
</html>
